<html>
    <title>
        <head>
            join
        </head>
    </title>
    <body>
        <!-- form은 form을 기준으로 데이터를 저장 할수 있음 -->
        <form method="post" action="join">
            <h1> Hello!!!! </h1>
            id
            <input type="text" name="id" id="id"/>
            <br/>
            pw
            <input type="password" name="pw" id="pw"/>
            <br/>
            <input type="submit" value="join"/>
            join
            </input>
        </form>
    </body>
</html>