<html>
    <title>
        <head>
            login
        </head>
    </title>
    <body>
        <h1>login</h1>
        <!-- form은 form을 기준으로 데이터를 저장 할수 있음 -->
        <form method="post" action="login">
            id
            <input type="text" name="id" id="id"/>
            <br/>
            pw
            <input type="password" name="pw" id="pw"/>
            <br/>
            <input type="submit" value="login"/>
            <a href="join">join</a> <!-- a태그 -->
        </form>
    </body>
</html>